{% extends 'base.html' %}
{% load static %}
{% block content %}

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>{{ genre.name }}</h1>
<!--											<p>A free and fully responsive site template</p>-->
										</header>
										<p>Фантастика — жанр, объединяющий художественные произведения, в которых повествуется о событиях, мирах и героях, нарушающих границы реальности.</p>
										{% if genre.get_children %}
										{% for child in genre.get_children %}
										<a href="{% url 'genre' child.slug %}"</a><li>{{ child }}</li>
										{% endfor %}
										{% endif %}

									</div>
									<span class="image object">
										<img src="{{ genre.image.url }}" alt="" />
									</span>
								</section>



							<!-- Section -->
{% if not genre.get_children %}
								<section>
									<header class="major">
										<h2>LIST OF MOVIE</h2>
									</header>
									<div class="posts">
										{% for recipe in recipes %}
										<article>
											<a href="#" class="image"><img src="{{ recipe.get_image }}" alt="" /></a>
											<h3>{{ recipe }}</h3>
											<p>{{ recipe.description | truncatewords:25}}</p>
											<ul class="actions">
												<li><a href="{% url 'detail' recipe.id %}" class="button">More</a></li>
											</ul>
										</article>
										{% endfor %}
									</div>
								</section>

							{% endif %}

{% endblock %}